
.bslib-page-fill {
  padding: 0;
  gap: 0;
}


/* Search Field fix */
.usa-search__submit-icon {
  display: block;
}

#navRightSide .usa-search div:first-child {
  display: block;
}

#navRightSide .usa-search div:nth-child(2) {
  display: flex;
}

/* Banner */
.banner {
  position: relative; 
  width:100%; 
  height: auto;
  background-color: #1a4480;
}
.banner .banner-conents {
  font-family: Source Sans Pro Web,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
  font-size: 22px;
  font-weight: bold;
  padding-top: 13px;
  padding-bottom: 15px;
  margin: 0;
  margin-left: 2rem;
  color: white; /* text color */
}

/* Shiny busy */
.shinybusy-overlay {
  background-color: rgba(255, 255, 255, 0.25);
}

.accordian {
  gap: var(--bslib-spacer, 1rem);;
}
.accordion-button, .accordion .accordion-button:not(.collapsed) {
  /* border-top: 2px solid #1a4480; */
  background-color: #f0f0f0;
}
.accordion .accordion-button:focus {
  /* border-bottom: 2px solid #1a4480; */
  background-color: #dfe1e2;
}
.button-container {
  display: flex;
}

/* Map */
div#id-map {
  z-index: 1; 
}

@media all and (min-width: 480px) {
  #facility-map-panel {
    overflow-y:scroll; 
    max-height: 480px; 
    width: 360px;
    right: 10px;
    background-color: white; 
    z-index: 2; 
    margin: 10px;
    padding: 10px;
  }
  #ss-connect-dialog {
    width: 450px !important;
  }
}

@media all and (max-width: 479px) {
  #facility-map-panel {
    overflow-y:scroll; 
    max-height: 115px; 
    background-color: white; 
    z-index: 1; 
    margin: 10px 30px;
    padding: 10px;
  }
  #ss-connect-dialog {
    width: 80% !important;
  }
}

.leaflet-top, .leaflet-bottom {
  z-index: 3;
}

div.leaflet-container:focus {
  outline: 5px solid #28a0cb;
}

.leaflet-control-container .info.legend{
  background-color: rgba(255,255,255,.90);
  color: black;
}

.marker-cluster div {
  padding-top: 5px;
  background-color: rgba(204,51,255,0.90);
  color: black;
}

.marker-cluster span {
  font-size: 0;
}

.leaflet-marker-icon img:hover {
  border-width: 5px solid #3d4551;
}

.leaflet-popup a.leaflet-popup-close-button {
  color: #616161;
}

.leaflet-popup a.leaflet-popup-close-button:hover,
.leaflet-popup a.leaflet-popup-close-button:active,
.leaflet-popup a.leaflet-popup-close-button:focus {
  color: #1a4480;
}

#ss-reload-link:focus, .leaflet-popup a.leaflet-popup-close-button:focus {
  outline: 2px solid #28a0cb;
}

div.leaflet-touch-drag:focus {
  color:#1a4480;
  outline: 2px solid #28a0cb;
}

/* Other */

.selectize-dropdown-content {
  padding-left: 0.75rem;
}
.bslib-grid-item {
  overflow: visible;
}
.bslib-card, .bslib-card .card-body {
  overflow: visible;
}
ul.intro-list li.indent {
  margin-left:25px;
}

/* Display Table */

.row-coloring .display-table-row:nth-child(even) {
  background-color: #e1f3f8;
}

.display-list {
  padding-left: 1.5rem;
}
