
/* Keep uswds styles in body */
body {
  font-size: inherit;
  line-height: inherit;
}

/* RShiny Hack to disable container fluid */

.container-fluid {
    padding-right: 0;
    padding-left: 0;
    margin-right: 0;
    margin-left: 0;
}

/* Custom CSS **************************************************/

/* Banner */
.banner {
  position: relative; 
  width:100%; 
  height: auto;
  background-color: #1a4480;
}

.banner .banner-conents {
  font-family: Source Sans Pro Web,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
  font-size: 22px;
  font-weight: bold;
  padding-top: 13px;
  padding-bottom: 15px;
  margin: 0;
  margin-left: 2rem;
  color: white; /* text color */
}

/* Shiny busy */
.shinybusy-overlay {
  background-color: rgba(255, 255, 255, 0.25);
}

/* General */

*+h1 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.shiny-output-error {
  color: #AD0000; /* compliant red color */
}

ul.intro-list li.indent {
  margin-left:25px;
}

.box.box-primary {
  border-top-color: #1a4480;
}

.box-header .box-title {
  margin-left: 2rem;
  font-weight: bold;
  color: #1b1b1b;
}

.box-header>.box-tools {
  float: left!important;
  left: 10px;
}

.box-header .box-tools .btn-box-tool {
  color: black;
  font-size: 0;
}

.box-header .box-tools .btn-box-tool i {
  font-size: 12px;
}

/* Map */
div#id-map {
  !important;
}

.maparea {
  margin-bottom:2.2rem;
}

@media all and (min-width: 480px) {
  #facility-map-panel {
    overflow-y:scroll; 
    max-height: 480px; 
    width: 360px;
    right: 10px;
    background-color: white; 
    z-index: 10; 
    margin: 10px;
    padding: 10px;
  }
  #ss-connect-dialog {
    width: 450px !important;
  }
}

@media all and (max-width: 479px) {
  #facility-map-panel {
    overflow-y:scroll; 
    max-height: 115px; 
    background-color: white; 
    z-index: 10; 
    margin: 10px 30px;
    padding: 10px;
  }
  #ss-connect-dialog {
    width: 80% !important;
  }
}

div.leaflet-container:focus {
  outline: 5px solid #28a0cb;
}

.leaflet-control-container .info.legend{
  background-color: rgba(255,255,255,.90);
  color: black;
}

.marker-cluster div {
  padding-top: 5px;
  background-color: rgba(204,51,255,0.90);
  color: black;
}

.marker-cluster span {
  font-size: 0;
}

.leaflet-marker-icon img:hover {
  border-width: 5px solid #3d4551;
}

.leaflet-popup a.leaflet-popup-close-button {
  color: #616161;
}

.leaflet-popup a.leaflet-popup-close-button:hover,
.leaflet-popup a.leaflet-popup-close-button:active,
.leaflet-popup a.leaflet-popup-close-button:focus {
  color: #1a4480;
}

#ss-reload-link:focus, .leaflet-popup a.leaflet-popup-close-button:focus {
  outline: 2px solid #28a0cb;
}

div.leaflet-touch-drag:focus {
  color:#1a4480;
  outline: 2px solid #28a0cb;
}

/* Filters/Searches */

#filtersearch-container .column-decorator {
  background-color: #f0f0f0;
  border: 1px solid #3d4551;
  border-radius: 5px;
  margin: 5px;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 0px;
  padding-bottom: 0px;
}

#filtersearch-container .column-decorator .form-group {
  margin-bottom: 0px;
}

.select-clear {
  margin-top: 0px;
  margin-bottom: 10px;
}

/* Butons */

.usa-button.usa-button--active, .usa-button:active, .usa-button:focus {
  color: #fff;
  background-color: #1a4480;
}

.usa-button:not([disabled]):focus {
  color: #fff;
  background-color: #1a4480;
}

.grid-container.download-buttons {
  padding-left: 0;
  margin-left: 0;
}

#filter-tooltip, #search-tooltip {
  border-radius: 50%;
  vertical-align: top;
  font-size: 0;
  padding: 0.25rem 0.4rem;
}

#filter-tooltip i, #search-tooltip i {
  font-size: 12px;
}

@media (max-width: 30em) {
  #search-tooltip, #filter-tooltip {
      width: auto;
  }
}

/* Display Table */

.row-coloring .display-table-row:nth-child(even) {
  background-color: #e1f3f8;
}

.display-list {
  padding-left: 1.5rem;
}
